<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
     <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  <autofac>
    <modules>
       <module type="ruslan.prototype.test.app.module,ruslan.2013.prototype.test.app" />
       <module type="ruslan.prototype.test.services.module,ruslan.2013.prototype.test.services"/>
       <module type="ruslan.prototype.test.infrastructure.module,ruslan.2013.prototype.test.infrastructure"/>
    </modules>
   
  </autofac>
 <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
</configuration>