
<article class="contactinfo">
    <header>contact details</header>
    <img class="avatar"/>
    <ul class="personalinfo">
     <li class="row"><label for="name">name</label><input id="name" value="<%=name%>" type="text"/></li>
        <li class="row"><label for="lastname">lastname</label><input id="lastname" value="<%=lastname%>" type="text"/></li>
        <li><label for="dob">age</label><input id="dob" value="<%=age%>" type="text"/></li>  
    </ul>
    <textarea class="bio"></textarea>
    <footer class="buttons"><a href="#" id="add" class=" button">add</a> <a href="#" id="clear"  class=" button">clear</a></footer>
</article>


    
  